:root {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
}

.section {
  display: flex;
  align-items: center;
}

span {
  background-color: white !important;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

.slide {
  display: flex;
  align-items: center;
}

ul {
  text-align: center !important;
}

.s1 {
  background-image: url("./images/fern-unsplash.jpeg") !important;
  background-size: cover !important;
}
.s1 .profile_pic {
  height: auto;
  width: 15em;
  border-radius: none;
}
.s1 h1 {
  color: white;
  font-size: 4rem;
  font-weight: 800;
}
@media (max-width: 550px) {
  .s1 h1 {
    font-size: 3rem;
  }
}
.s1 p {
  color: white;
  font-size: 2rem;
  font-weight: 400;
}
@media (max-width: 550px) {
  .s1 p {
    font-size: 1.2rem;
  }
}
.s1 .typewriter_div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.s1 .typewriter {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.12em;
  -webkit-animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
          animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}
@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.s2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.s2 .about_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 1200px) {
  .s2 .about_section {
    flex-direction: row;
  }
}
.s2 .about_section .about_div {
  padding: 4em 2em 1em 2em;
  max-width: 600px;
}
@media (min-width: 767px) {
  .s2 .about_section .about_div {
    padding: 2em 2em 1em 2em;
  }
}
.s2 .about_section .about_div h3 {
  color: #f4f9f4;
  padding: 0.5em 1em 0.5em 0;
  margin: 0;
  font-size: 1.5rem;
}
@media (min-width: 767px) {
  .s2 .about_section .about_div h3 {
    font-size: 2rem;
  }
}
.s2 .about_section .about_div p {
  padding: 1em 0;
  color: #f4f9f4;
  padding: 1em 1em 1em 0;
  margin: 0;
  line-height: 1.75em;
  font-size: 0.9rem;
}
@media (min-width: 767px) {
  .s2 .about_section .about_div p {
    font-size: 1rem;
  }
}
.s2 .about_section .about_div .wrap {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
}
.s2 .about_section .about_div .wrap .button {
  min-width: 100px;
  min-height: 50px;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #f4f9f4;
  background: #525e75;
  border: none;
  border-radius: 10px;
  box-shadow: 12px 12px 24px 524999999999999900000000000000000000000000000000000000000000000000000000000000;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}
.s2 .about_section .about_div .wrap button::before {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #f1ddbf;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation: ring 1.5s infinite;
          animation: ring 1.5s infinite;
}
.s2 .about_section .about_div .wrap button:hover::after,
.s2 .about_section .about_div .wrap button:focus::after {
  -webkit-animation: none;
          animation: none;
  display: none;
}
@-webkit-keyframes ring {
  0% {
    width: 10px;
    height: 10px;
    opacity: 1;
  }
  100% {
    width: 120px;
    height: 120px;
    opacity: 0;
  }
}
@keyframes ring {
  0% {
    width: 10px;
    height: 10px;
    opacity: 1;
  }
  100% {
    width: 120px;
    height: 120px;
    opacity: 0;
  }
}
.s2 .about_section .about_pic_container {
  margin: 20px;
  position: relative;
}
@media (max-width: 550px) {
  .s2 .about_section .about_pic_container {
    visibility: hidden;
    height: 1px;
  }
}
.s2 .about_section .dots {
  height: 300px;
  width: 350px;
  z-index: 2;
  background: linear-gradient(90deg, #8aae92 20px, transparent 1%) center, linear-gradient(#8aae92 20px, transparent 1%) center, lightgray;
  background-size: 22px 22px;
}
@media (max-width: 550px) {
  .s2 .about_section .dots {
    visibility: hidden;
  }
}
.s2 .about_section .pic_detail {
  height: 160px;
  width: 300px;
  border: 5px solid lightgray;
  border-radius: 2px;
  z-index: 1;
  margin: 4em 1em 1em 2.3em;
}
@media (min-width: 767px) {
  .s2 .about_section .pic_detail {
    margin: 4em 1em 1em 2.3em;
  }
}
.s2 .about_section .top_stack {
  z-index: 3;
  margin: 25px;
}
.s2 .about_section .about_pic {
  height: 160px;
  width: 300px;
  position: absolute;
}
@media (max-width: 550px) {
  .s2 .about_section .about_pic {
    visibility: hidden;
  }
}
.s2 .about_section .about_pic img {
  height: 160px;
  width: 300px;
  margin-top: 1.5em;
  border-radius: 5px;
}
.s2 .skill_title {
  display: flex;
  align-items: center;
}
.s2 .skill_title h1 {
  color: #f4f9f4 !important;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}
.s2 .skill_title h2 {
  -webkit-text-decoration: underline red 4px;
          text-decoration: underline red 4px;
  background-color: #8aae92;
  color: #f4f9f4;
  padding-left: 0.3em;
}
.s2 .skill_div {
  height: 100px;
  width: 1600px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  margin: 0;
}
.s2 .skill_logos {
  height: 100px;
  display: block;
  width: 200%;
  margin: 0;
  position: absolute;
  -webkit-animation: scroll 20s linear infinite;
          animation: scroll 20s linear infinite;
}
.s2 .skill_logos span {
  float: left;
  width: 50%;
  background-color: #8aae92 !important;
}
@-webkit-keyframes scroll {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes scroll {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
.s2 .skill_logos i {
  font-size: 5rem;
  padding: 0.1em 0.5em;
  color: #f4f9f4;
  border-radius: 50px;
  display: inline-block;
  margin: 0;
  float: left;
  transition: all 0.2s ease-out;
}

.skill_logos:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.s3 {
  background-image: url("./images/project-wall-sand.jpeg") !important;
  background-size: cover !important;
  display: flex;
  justify-content: center;
}
.s3 .arrow-left {
  margin-left: 5%;
}
.s3 .arrow-right {
  margin-right: 5%;
}
.s3 .fp-slides {
  height: 100%;
  width: 100%;
  margin: 0;
}
.s3 .slide1_main {
  height: 60%;
  width: 60%;
  background-color: #616161;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.s3 .slide1_main .slide1_info {
  padding: 1em;
  height: 200px;
  width: 200px;
}
.s3 .slide1_main .slide1_project {
  padding: 1em;
  height: 400px;
  width: 250px;
  background-color: whitesmoke;
}

.s4 .about_links {
  padding: 1em 0;
}
.s4 .about_links i {
  color: #f4f9f4;
  font-size: 1.8rem;
  cursor: pointer;
  padding: 0.5em 0.5em 0.5em 0;
}
.s4 .about_links i:hover {
  color: blue;
}/*# sourceMappingURL=style.css.map */