.section {
  display: flex;
  align-items: center;
}

.slide {
  display: flex;
  align-items: center;
}

ul {
  text-align: center !important;
}

.fp-controlArrow {
  top: 99% !important;
}

.arrow-left {
  margin-left: 30%;
}

.arrow-right {
  margin-right: 30%;
}
