:root {
  font-family: "Montserrat", sans-serif;
}

.section {
  display: flex;
  align-items: center;
}

.s1 {
  background-image: url("./images/fern-unsplash.jpeg") !important;
  background-size: cover !important;

  h1 {
    color: white;
  }
}

span {
  background-color: white !important;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

.slide {
  display: flex;
  align-items: center;
}

ul {
  text-align: center !important;
}

.arrow-left {
  margin-left: 10%;
}

.arrow-right {
  margin-right: 10%;
}
